{% extends 'mycontacts/background.html' %}
{% load static %}

{% block content %}

<div class="container-add">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xs-offset-3">

        <form id="add-contact-form" class="form" action="{% url 'add' %}" method="POST" role="form">
            {% csrf_token %}

            <!-- Usando apenas os campos do form Django -->
            {{ form.as_p }}

            <div class="text-center">
                <button type="submit" class="btn btn-primary">Confirm</button>
            </div>
        </form>

    </div>
</div>

{% endblock content %}
