{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda de Contatos</title>

    <!-- CSS próprio -->
    <link rel="stylesheet" href="{% static 'mycontacts/style.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <a class="navbar-brand" href="{% url 'show' %}">Agenda</a>
            <ul class="navbar-links">
                <li><a href="{% url 'add' %}">Adicionar Contato</a></li>
            </ul>
        </div>
    </nav>

    <div class="container-show">
        {% block content %}{% endblock %}
    </div>
</body>
</html>

