{% extends 'mycontacts/background.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/show.css' %}">

<h1>Meus Contatos</h1>

{% if contacts %}
<ul class="grid">
    {% for contato in contacts %}
    <li class="contact-card">
        <div class="name">{{ contato.name }}</div>
        {% if contato.relation %}
        <div class="relation">{{ contato.relation }}</div>
        {% endif %}
        <div class="phone">{{ contato.phone }}</div>
        {% if contato.email %}
        <div class="email">
            <a href="mailto:{{ contato.email }}">{{ contato.email }}</a>
        </div>
        {% endif %}

        <div class="actions">
            <a href="{% url 'edit' contato.id %}" class="btn-edit">Editar</a>
            <a href="{% url 'delete' contato.id %}" class="btn-delete">Excluir</a>
        </div>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Nenhum contato cadastrado.</p>
{% endif %}


{% endblock %}

